<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Vue pager component</title>
  <link href="seven-pager.css" rel="stylesheet" type="text/css"/>
  <link href="styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div id="app">
    <router-view/>
  </div>
  <template id="index">
    <form>
      <div class="form-element">
        <label for="quantity">Quantity</label>
        <input v-model="quantity" type="number" min="1" required id="quantity">
      </div>
      <div class="form-element">
        <label for="total">Total</label>
        <input v-model="total" type="number" min="1" required id="total">
      </div>
      <div class="form-element">
        <label for="current">Current</label>
        <input v-on:input="changePage" v-model="current" type="number" min="1" required id="current">
      </div>
    </form>
    <pager :quantity="quantity" :total="total"/>
  </template>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/0.7.10/vue-router.js"></script>
  <script src="../dist/vue-pager.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
