<nav v-if="total > 1" class="pager" role="navigation" aria-labelledby="pagination-heading">
  <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
  <ul class="pager__items js-pager__items">

    <li v-if="current > 1" class="pager__item pager__item--first">
      <a v-link="path(1)" title="Go to first page">
        <span class="visually-hidden">First page</span>
        <span aria-hidden="true">« First</span>
      </a>
    </li>

    <li v-if="current > 1" class="pager__item pager__item--previous">
      <a v-link="path(previous)" title="Go to previous page" rel="prev">
        <span class="visually-hidden">Previous page</span>
        <span aria-hidden="true">‹ Previous</span>
      </a>
    </li>

    <li v-if="range.start > 1" class="pager__item pager__item--ellipsis" role="presentation">…</li>

    <li v-for="item in items" class="pager__item" :class="{'is-active': current == item}">
      <a v-link="path(item)" title="{{ current == item ? 'Current page' : 'Go to page ' + item }}">
        <span class="visually-hidden">Page </span>{{ item }}
      </a>
    </li>

    <li v-if="range.finish < total" class="pager__item pager__item--ellipsis" role="presentation">…</li>

    <li v-if="current < total" class="pager__item pager__item--next">
      <a v-link="path(next)" title="Go to next page" rel="next">
        <span class="visually-hidden">Next page</span>
        <span aria-hidden="true">Next ›</span>
      </a>
    </li>

    <li v-if="current < total" class="pager__item pager__item--last">
      <a v-link="path(total)" title="Go to last page">
        <span class="visually-hidden">Last page</span>
        <span aria-hidden="true">Last »</span>
      </a>
    </li>

  </ul>
</nav>
